/* General Styling */

body {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  background-color: #821884;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.logo {
  width: 175px;
  /* margin: ; */
  position: absolute;
  z-index: 999;
  left: 0;
}
.jon-logo {
  /* margin: ; */
  position: absolute;
  z-index: 999;
  left: 0;

}
.hide {
  display: none;
}

/* Begin Page Styling */
.start {
  background: rgba(127, 195, 240, 0.4);
  margin-top: 19vh;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 15px;
  box-shadow: 0.75px 0.75px rgb(173, 23, 155);
}

#start-button {
  margin-bottom: 2vh;
}

.start h1 {
  color: #4ab9f5;
  font-size: 2.5rem;
  text-shadow: 0.75px 0.75px rgb(246, 244, 244);
}

.start p {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #7c1188 ; 
}
/* Fin Page Styling */

/* Button Styling */
.btn {
  padding: 1.25vh 2.25vw;
  background-color: #80138d;
  color: rgb(164, 219, 237);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4.5px;
}

.btn:hover {
  background: #d8c21a;
}

#highscore-button {
  margin-top: 5vw;
  color:rgba(235, 167, 247, 0.4)
  
}
/* Fin Button Styling */

/* Assessment Styling */
#question {
  color: #e3a2f7;
  font-size: 3rem;
  text-shadow: 0.25px 0.25px rgb(125, 214, 244);
}

#multiple-choice {
  width: 50%;
  margin: 150px 155px;
}

.answer {
  font-weight: bold;
  background: rgba(234, 137, 241, 0.4);
 
  padding: 25px 15px;
  border-radius: 9px;
}

.answer:hover {
  background: #f5f3f3;
  color: rgb(145, 214, 247);
}

#check-answer-correct {
  color: #db8df6;
  font-size: 2.65rem;
  text-shadow: 0.75px 0.75px rgb(177, 94, 94);
  font-weight: bolder;
}

.timer {
  color: #99e4f6;
  font-size: 2.5rem;
  text-shadow: 0.75px 0.75px rgb(245, 243, 243);
  text-align: right;
  margin-right: 25px;
}
#input-score h1 {
  color: #ace4f7;
  font-size: 3.5rem;
  text-shadow: 0.75px 0.75px rgb(176, 94, 94);
}
#input-score h2 {
  color: #ef7de2;
}

#highscore-button {
  font-size: larger;
  color: #9be6f5;
  text-shadow: 0.75px 0.75px rgb(145, 62, 62);
}

#high-score h1 {
  color: #e3a8f5;
  font-size: 3.5rem;
  text-shadow: 0.75px 0.75px rgb(176, 94, 94);
  
}

#scoreBoard {
  color: #90dcf6;
  font-size: large;
}

form {
  font-weight: bold;
  font-size: 1.25rem;
  color:rgba(240, 118, 183, 0.94)
}

input {
  outline: none;
  margin-top: 1.25vh;
  padding: 5px 25px;
  text-align: center;
  color: #95def9;
} 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="answer"] {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="#-multiple-choice"] {
    width: 100%;
  }
}

/* Fin Assessment Styling */

